/* Main styling */
body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.navbar {
  background-color: #0c4b33;
}

.btn-count {
  background-color: #0c4b33;
  color: #c1cad2;
  width: 100%;
  height: 3rem;
  font-weight: 500;
  border: none;
  font-size: 1.25rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-count:hover {
  background-color: #083624;
  color: #c1cad2;
}

.btn-count:active {
  background-color: #0c4b33;
  color: #c1cad2;
}
