{% extends "base.html" %}

{% load static %}

{% block title %}
  Home
{% endblock title %}


{% block content %}
  <div class="row">
    <div class="w-100">
      {% comment %} <img src="{% static 'images/dj_logo.svg' %}" alt="Django logo" loading="lazy" class="img-fluid w-25" /> {% endcomment %}
      <div>

        <div class="h2 my-4">
          Ready to code!
        </div>
        <div>
          <button id="countButton" class="btn-count">
            Button:<span id="count" class="ms-2">0</span>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
